*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}
body{
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #19183f, rgba(46, 45, 131, 0.8) 100%);
}     